<header class="header" id="header">
  <div class="container">
    <figure class="logo animated fadeInDown delay-07s">
      <a href="#"><%= image_tag "main-logo.png" %></a>
    </figure>
    <h1 class="animated fadeInDown delay-07s">Let the outside in!</h1>
    <h4 class="animated fadeInDown delay-07s">Window Cleaning, Pressure Washing, and More</h4>
    <ul class="we-create animated fadeInUp delay-1s">
      <li>Hurricane, St. George, Washington, Ivins, La Verkin, Virgin, Springdale, Santa Clara, Toquerville, Sun River, Little Valley</li>
    </ul>
    <button type="button" class="link animated fadeInUp delay-1s" data-toggle="modal" data-target="#myModal">
      Click for a free estimate
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Free Estimate</h4>
          </div>
          <div class="modal-body">
            <p>Coming soon</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="main-nav-outer" id="test">
  <div class="container">
    <ul class="main-nav">
      <li><a href="#header">Home</a></li>
      <li><a href="#service">Services</a></li>
      <li><a href="#header"><%= image_tag 'logo-small.png', height: "80" %></a></li>
      <li><a href="#work">Featured Work</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
  </div>
</nav>

<section class="main-section" id="service">
  <div class="container">
    <h2>Services</h2>
    <h6>We offer exceptional service with complimentary hugs.</h6>
    <div class="row">
      <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
        <div class="service-list">
          <div class="service-list-col1">
            <i class="fa-shower"></i>
          </div>
          <div class="service-list-col2">
            <h3>Window Cleaning</h3>
            <p>Residential & Commercial. We have top of the line spot & streak free waterfed technology. We are also skilled with traditional methods to ensure your windows are looking amazing.</p>
          </div>
        </div>
        <div class="service-list">
          <div class="service-list-col1">
            <i class="fa-tint"></i>
          </div>
          <div class="service-list-col2">
            <h3>Pressure Washing</h3>
            <p>Residential & Commercial. Driveways sidewalks, buildings, patios, garages. We have high quality equipment capable of cleaning high and low.</p>
          </div>
        </div>
        <div class="service-list">
          <div class="service-list-col1">
            <i class="fa-cog"></i>
          </div>
          <div class="service-list-col2">
            <h3>Other services upon request</h3>
            <p>Need water softener salt? Help moving furniture? Spot free rinse on your car? Let us know how we can help. We are pretty handy.</p>
          </div>
        </div>
      </div>
      <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
        <%= image_tag "window-cleaning.jpg", class: 'img-rounded' %>
      </figure>
    </div>
  </div>
</section>

<section class="main-section alabaster" id='work'>
  <div class="container">
    <h2>Featured Work</h2>
    <h6>A few pictures to show what we do.</h6>
    <div class="portfolioFilter">
      <ul class="Portfolio-nav wow fadeIn delay-02s">
        <li><a href="#" data-filter="*" class="current" >All</a></li>
        <li><a href="#" data-filter=".window" >Window Washing</a></li>
        <li><a href="#" data-filter=".pressure" >Pressure Wash</a></li>
        <li><a href="#" data-filter=".other" >Other Work</a></li>
      </ul>
    </div>

  </div>
  <div class="portfolioContainer wow fadeInUp delay-04s">
    <div class=" Portfolio-box pressure">
      <a href="#"><%= image_tag "Portfolio-pic1.jpg" %></a>
      <h3>Decks</h3>
      <p>Pressure Washing</p>
    </div>
    <div class="Portfolio-box pressure">
      <a href="#"><%= image_tag "Portfolio-pic2.jpg" %></a>
      <h3>Concrete</h3>
      <p>Pressure Washing</p>
    </div>
    <div class=" Portfolio-box window">
      <a href="#"><%= image_tag "Portfolio-pic3.jpg" %></a>
      <h3>Commercial</h3>
      <p>Window Washing</p>
    </div>
    <div class=" Portfolio-box window" >
      <a href="#"><%= image_tag "Portfolio-pic4.jpg" %></a>
      <h3>Residential</h3>
      <p>Window Washing</p>
    </div>
    <div class=" Portfolio-box window">
      <a href="#"><%= image_tag "Portfolio-pic5.jpg" %></a>
      <h3>Commercial</h3>
      <p>Window Washing</p>
    </div>
    <div class=" Portfolio-box window">
      <a href="#"><%= image_tag "Portfolio-pic6.jpg" %></a>
      <h3>Residential</h3>
      <p>Window Washing</p>
    </div>
  </div>
</section>

<section class="business-talking">
  <div class="container">
    <h2>Call Us Anytime</h2>
  </div>
</section>

<section class="main-section client-part" id="client">
  <div class="container">
    <section class="main-section contact" id="contact">
      <div class="row">
        <div class="col-lg-6 col-sm-7 wow fadeInLeft">
          <div class="contact-info-box address clearfix">
            <%= fa_icon "map-marker" %></i>
            <span>Based in Hurricane, UT</span>
          </div>
          <div class="contact-info-box phone clearfix">
            <%= fa_icon "phone" %>
            <span>1-435-767-8656</span>
          </div>
          <div class="contact-info-box email clearfix">
            <%= fa_icon "pencil" %>
            <span><a href='mailto:SRSWorksLLC@gmail.com'>SRSWorksLLC@gmail.com</a></span>
          </div>
          <ul class="social-link">
            <li class="facebook"><a href="#"><%= fa_icon "facebook" %></i></a></li>
            <li class="twitter"><a href="#"><%= fa_icon "twitter" %></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
          <div class="form">

            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <%= form_for Message.new, html: {class: "contactForm"} do |f| %>
              <div class="form-group">
                <%= f.text_field :name, class: "form-control input-text", placeholder: "Your Name", required: true %>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <%= f.email_field :email, class: "form-control input-text", placeholder: "Your Email", required: true %>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <%= f.text_field :subject, class: "form-control input-text", placeholder: "Subject", required: true %>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <%= f.text_area :content, class: "form-control input-text", placeholder: "Message", rows: '5', required: true %>
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
            <% end %>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer-logo"><a href="#"><%= image_tag "footer-logo.png" %></a></div>
      <span class="copyright">&copy; SRS Works LLC. All Rights Reserved</span>
    </div>
  </footer>
</section>