<!DOCTYPE html>
<html>
  <head>
    <title>Srsworks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% if message.present? %>
        <div class="alert <%= bootstrap_class_for(type)%> alert-dismissible" role="alert">
          <button class='close' data-dismiss="alert"> × </button>
          <p class='text-center'><%= message %></p>
        </div>
        <% flash[type.to_sym] = nil %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
